@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --cor-um: #f3f3f3;
    --cor-dois: #bdbdbd;
    --cor-tres: #767676;
    --cor-quatro: #3d3d3d;
    --cor-cinco: #2b2b2b;
    --cor-seis: #1f1f1f;
    --cor-seis-t: #1f1f1f9b;
    --cor-sete: #006aff;

    --cor-error: #ff0000;

    --fonte-um: "Share Tech", sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-um);
    color: var(--cor-um);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--cor-seis);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 3px;
    height: 0.1vh;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--cor-dois);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-tres);
}
::-webkit-scrollbar-horizontal {
    height: 1px;
}


.flex {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
.rowdistance {
    width: 70em;
}

.sing_close {
    position: absolute;
    margin-top: -5vh;
    opacity: 0.7;
    cursor: pointer;
    font-size: 2vw;
    color: var(--cor-error);
}
.sing_close:hover {
    opacity: 1;
}
.singup_box.transformed {
    transform: translateY(-80em);
}

/* LOGIN BOX */
.login_box {
    position: relative;
    width: 30vw;
    height: 70vh;
    background: var(--cor-cinco);
    border-radius: 1vw;
}

.login_box form,
.singup_box form {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 4px;
    background: var(--cor-quatro);
    border-radius: 1vw;
    padding: 4vw 2vw;
    overflow: scroll;
}
/* SINGUP BOX */
.singup_box {
    position: fixed;
    width: 60vw;
    height: 90vh;
    background: var(--cor-cinco);
    border-radius: 1vw;
    transform: translateY(-28vw) translateX(-25vw);
    z-index: 50;
    transition: transform 0.3s ease;
}
/* SINGUP SUBBOX */
.subBox {
    position: relative;
    margin: 1em 0;
}

/* LOGIN TITULO */
.login_box h2,
.singup_box h2 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15vw;
    font-size: 2vw;
}

/* SINGUP SUBTITULO */
.subBox h3 {
    font-weight: 700;
    margin-left: 2vw;
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
}

/* LOGIN INPUT */
.login_input_box {
    position: relative;
    width: 100%;
    margin-top: 2vw;
}

.login_input_box input,
.login_input_box select {
    position: relative;
    width: 100%;
    padding: 1.1vw 1vw 0.8vw;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    letter-spacing: 0.1vw;
    font-size: 1.1vw;
    transition: 0.5s;
    z-index: 10;
    color: var(--cor-seis);
}
.login_input_box select {
    background-color: var(--cor-um);
    border-radius: 0.5vw;
}

.login_input_box label {
    position: absolute;
    left: 0;
    padding: 1.1vw;
    pointer-events: none;
    color: var(--cor-dois);
    letter-spacing: 0.1vw;
    font-size: 1.1vw;
    transition: 0.5s;
}

.login_input_box input:valid ~ label,
.login_input_box input:focus ~ label,
.label_ativo {
    color: var(--cor-um);
    transform: translateY(-2.3vw);
}

.login_input_box span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 0.5vw;
    background: var(--cor-um);
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.login_input_box input:valid ~ span,
.login_input_box input:focus ~ span,
.login_input_box input ~ .open_span {
    height: 3vw;
}

.login_icon {
    position: absolute;
    right: 0;
    padding: 1.1vw;
    font-size: 1.1vw;
    color: var(--cor-um);
    transition: 0.3s;
}

.login_input_box input:valid ~ i,
.login_input_box input:focus ~ i {
    color: var(--cor-sete);
}

.login_input_box .pass_icon {
    cursor: pointer;
    z-index: 10;
}

.login_input_box option{
    color: var(--cor-seis);
}

/* PASSWORD LINKS */
.login_password {
    display: flex;
    margin: 0.5vw 0;
    width: 100%;
    font-size: 1.2vw;
    padding: 0 0 3vw;
    border-bottom: 3px solid var(--cor-sete);
}

.login_password input:checked ~ label {
    color: var(--cor-sete);
}

.login_password a {
    position: absolute;
    right: 2vw;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
}
.login_password a:hover {
    opacity: 1;
}
.login_password a:active {
    color: var(--cor-sete);
}
/* PASSWORD CONFIRM */
#pass_message {
    position: absolute;
    margin-top: 0.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
}
/* LOGIN BUTTON */
.login_btn {
    position: relative;
    display: flex;
    margin: 50vh 2em;
}
.login_btn button {
    padding: 0.5vw 1.5vw;
    color: var(--cor-seis);
    background: var(--cor-dois);
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    border-radius: 1em;
    opacity: 0.8;
    width: 8vw;
}
.login_btn button:hover {
    opacity: 1;
}
.login_btn button:active {
    color: var(--cor-sete);
    background: var(--cor-um);
}
.sing {
    position: absolute;
    right: 0;
}

/* POPUP */
.pop-up {
    display: grid;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background: var(--cor-seis-t);
    place-items: center;
    z-index: 1000;
    cursor: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.popup_card {
    position: relative;
    background: var(--cor-quatro);
    border: 4px solid var(--cor-cinco);
    padding: 3.5rem 2.5rem 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 60rem;
    height: 50vh;
    transform: scale(0.7);
    margin-top: 0;
    overflow: visible;
}

.popup_close {
color: var(--cor-um);
font-size: 1.5rem;
font-weight: bolder;
margin-left: 54rem;
margin-top: -5vh;
position: absolute;
cursor: pointer;
z-index: 2000;
opacity: 0.6;
}
.popup_close:hover {
    opacity: 1;
}
.popup_close:active {
    color: var(--cor-sete);
}
.popup_card h2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -3vh;
    font-size: 2.5em;
    color: var(--cor-sete);
}
.popup_card p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
/* INPUT POPUP */
.popup_input_box {
    position: relative;
    width: 100%;
    margin-top: 2em;
}
.popup_input_box input {
    position: relative;
    width: 100%;
    padding: 1.1vw 1vw 0.8vw;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    letter-spacing: 0.1vw;
    font-size: 1.6vw;
    transition: 0.5s;
    z-index: 10;
    color: var(--cor-seis);
}
.popup_input_box label {
    position: absolute;
    left: 0;
    padding: 1.1vw;
    pointer-events: none;
    color: var(--cor-dois);
    letter-spacing: 0.1vw;
    font-size: 1.6vw;
    transition: 0.5s;
}
.popup_input_box input:valid ~ label,
.popup_input_box input:focus ~ label {
    color: var(--cor-um);
    transform: translateY(-2.5vw);
}
.popup_input_box span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 0.5vw;
    background: var(--cor-um);
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.popup_input_box input:valid ~ span,
.popup_input_box input:focus ~ span {
    height: 2.8em;
}
.popup_icon {
    position: absolute;
    right: 0;
    padding: 1.1vw;
    font-size: 1.6vw;
    color: var(--cor-um);
    transition: 0.3s;
    z-index: 10;
}
.popup_input_box input:valid ~ i,
.popup_input_box input:focus ~ i {
    color: var(--cor-sete);
}
.popup_input_box .pass_icon {
    cursor: pointer;
    z-index: 10;
}
/* POPUP BUTTON */
.popup_btn {
    display: flex;
    margin: 3vw 0;
}
.popup_btn button {
    padding: 0.3em 1.3em;
    color: var(--cor-seis);
    background: var(--cor-dois);
    font-size: 1.4em;
    letter-spacing: 0.1em;
    border-radius: 1em;
    opacity: 0.8;
    width: 8em;
}
.popup_btn button:hover {
    opacity: 1;
}
.popup_btn button:active {
    color: var(--cor-sete);
    background: var(--cor-um);
}
/* ATIVAR POP-UP */
.pop-up.active-popup {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

@media screen and (max-width: 1024px) {
    .login_box {
        width: 60vw;
    }
    .login_box h2 {
        margin-top: 0.5vw;
        font-size: 4vw;
    }

    .login_input_box {
        position: relative;
        width: 100%;
        margin-top: 7vw;
    }  
    .login_input_box input,
    .login_input_box select {
        font-size: 3vw;
    }   
    .login_input_box label {
        font-size: 3vw;
        transition: 0.5s;
    }   
    .login_input_box input:valid ~ label,
    .login_input_box input:focus ~ label,
    .label_ativo {
        transform: translateY(-6vw);
    }
    .login_input_box input:valid ~ span,
    .login_input_box input:focus ~ span,
    .login_input_box input ~ .open_span {
        height: 6vw;
    }    
    .login_icon {
        font-size: 3vw;
    }

    .login_password {
        margin: 3vw 0;
        font-size: 3vw;
        padding: 0 0 10vw;
    }    
    .login_password a {
        position: absolute;
        right: 2vw;
        text-decoration: none;
        opacity: 0.7;
    }

    .login_btn {
        margin: 45vh 2em;
    }
    .login_btn button {
        font-size: 4vw;
        width: 20vw;
    }
    .popup_card {
        width: 130%;
        height: 50vh;
    }
    .popup_close {
        font-size: 3rem;
        margin-left: 115vw;
        margin-top: -3vh;
    }
    .popup_card h2 {
        font-size: 2.5em;
    }
    .popup_card p {
        font-size: 1.5em;
    }
    .popup_input_box {
        margin-top: 3em;
    }
    .popup_input_box input {
        font-size: 2em;
    }
    .popup_input_box label {
        font-size: 2em;
    }
    .popup_input_box input:valid ~ label,
    .popup_input_box input:focus ~ label {
        transform: translateY(-1.5em);
    }
    .popup_input_box input:valid ~ span,
    .popup_input_box input:focus ~ span {
        height: 3em;
    }
    .popup_icon {
        font-size: 2em;
    }
    .popup_input_box input:valid ~ i,
    .popup_input_box input:focus ~ i {
        color: var(--cor-sete);
    }
    .popup_input_box .pass_icon {
        cursor: pointer;
        z-index: 10;
    }
}
@media screen and (max-width: 520px) {
    .login_box {
        width: 90vw;
    }
    .login_box h2 {
        margin-top: 4vw;
        font-size: 12vw;
    }

    .login_input_box {
        margin-top: 10vw;
    }  
    .login_input_box input,
    .login_input_box select {
        font-size: 7vw;
    }   
    .login_input_box label {
        font-size: 6vw;
        transition: 0.5s;
    }   
    .login_input_box input:valid ~ label,
    .login_input_box input:focus ~ label,
    .label_ativo {
        transform: translateY(-9vw);
    }
    .login_input_box input:valid ~ span,
    .login_input_box input:focus ~ span,
    .login_input_box input ~ .open_span {
        height: 10vw;
    }    
    .login_icon {
        font-size: 7vw;
    }

    .login_password {
        margin: 7vw 0;
        font-size: 5vw;
        padding: 0 0 5vw;
    }    

    .login_btn {
        margin: 50vh 0.5em;
    }
    .login_btn button {
        padding: 1vw 1.5vw;
        font-size: 7vw;
        width: 35vw;
    }
    .popup_card {
        width: 140%;
        height: 60vh;
    }
    .popup_close {
        font-size: 3rem;
        margin-left: 115vw;
        margin-top: -3vh;
    }
    .popup_card h2 {
        font-size: 2em;
        margin-top: -1vh;
    }
    .popup_card p {
        font-size: 1.1em;
    }
    .popup_input_box {
        margin-top: 5em;
        width: 110%;
        margin-left: -5.5vw;
    }
    .popup_btn {
        display: flex;
        margin: 6vh 0;
    }
    .popup_btn button {
        padding: 0.3em 1.3em;
        color: var(--cor-seis);
        background: var(--cor-dois);
        font-size: 1.5em;
        width: 100%;
    }
}